/* Dark theme styles for the comments page */

/* Post section */
.post-afterbar-a.in-post-top {
    background-color: var(--background-color-primary);
}

.post-afterbar-a .post-nav a.next span.label {
    background-color: var(--background-color-grey-700);
}

.post-afterbar-a .post-nav a.next span.arrow {
    border-left-color: var(--background-color-grey-700);
}

.post-afterbar-a .post-nav a.next:hover span.label {
    background-color: var(--background-color-grey-600);
}

.post-afterbar-a .post-nav a.next:hover span.arrow {
    border-left-color: var(--background-color-grey-600);
}

.post-afterbar-meta {
    border: none;
}

.post-afterbar-meta a:hover {
    text-decoration: none;
    color: var(--color-primary);
}

.post-afterbar-a.in-post-bot {
    display: none;
}


/* Comment box */
.CS3 .tab-bar ul.tab a:hover {
    color: var(--color-primary);
}

.CS3 .tab-bar ul.tab li.active a {
    color: var(--color-secondary);
    border-bottom-color: var(--background-color-black);
}

.CS3 .comment-box .action {
    border: none;
}

.CS3 a.cmnt-btn {
    background-color: var(--background-color-grey-700);
    border: none;
}

.CS3 a.cmnt-btn:hover {
    background-color: var(--background-color-grey-600);
}

.CS3 .tab-bar ul.tab li.active a {
    color: var(--color-secondary);
}


/* Comments */
.CS3 {
    background-color: var(--background-color-primary);
    color: var(--color-primary)
}

.CS3 .comment-entry .payload .status,.CS3 .comment-entry .payload .username {
    color: var(--color-secondary);
}

.CS3 .collapsed-comment {
    color: var(--color-secondary);
}
