/* Dark theme styles for the user page */

.activity-text {
    color: var(--color-secondary);
}

.profile .tab-bar ul.menu a.selected {
    color: var(--color-primary);
    border-bottom-color: white;
}

.profile .tab-bar ul.menu a:hover {
    color: var(--color-primary);
}

section#list-view-2 .activity-text a {
    color: var(--color-secondary);
}
