/* Dark theme CSS definitions */

:root {
    --color-primary: white;
    --color-secondary: rgba(255, 255, 255, 0.7);
    --color-disabled: rgba(255, 255, 255, 0.5);

    --background-color-black: #000000;
    --background-color-grey-900: #212121;
    --background-color-primary: #303030;
    --background-color-grey-800: #424242;
    --background-color-grey-700: #616161;
    --background-color-grey-600: #757575;

    --background-color-blue-400: #42a5f5;
    --background-color-green-400: #66bb6a;
}
