/* Simplified layout styles */

/* Navigation bar */
.nav-menu .secondary {
    display: none;
}

#jsid-header-darkmode-btn {
    display: none;
}


/* Left sidebar */
.stealthy-scroll-container section[class=""] {
    display: none;
}

.footer {
    display: none;
}


/* Right sidebar */
#sidebar {
    display: none;
}


/* Main body */
.page {
    margin: initial;
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.main-wrap {
    float: initial;
}

.featured-tag {
    display: none;
}

section#list-view-2 article {
    border: none;
    margin-bottom: 50px;
}

.btn-vote a {
    border: none;
}

.share {
    display: none;
}

#jsid-sticky-button {
    display: none;
}


/* Commments page */
.post-afterbar-a.in-post-bot {
    display: none;
}


/* Settings page */
ul.form-nav {
    top: 5px;
    left: 150px;
}

ul.form-nav li a {
    width: 100px;
}
